#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Bg-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Picture_user {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Label_name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Two-line-item_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-hangout_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Two-line-item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-hangout_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Image_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Softkeys-bg_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Square_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Circle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Triangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-plus_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-plus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-dots_menu_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-arrow-back_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-star {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Map {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Pinmap {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}