#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Bg-white {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Picture_user {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Line_2 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Line_2 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Label_name_2 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Two-line-item_6 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-hangout_2 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Line_4 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Line_4 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Two-line-item_7 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-hangout_3 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Line_5 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Line_5 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-All {
  border-radius: 0px 0px 0px 0px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-All > .valign {
  vertical-align: top;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_12 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Image_110 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_15 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_3 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_14 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_11 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_17 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_10 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_16 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_18 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Softkeys-bg_2 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Square_2 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Circle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Triangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-plus_3 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Components_panel_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Ellipse_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-plus_2 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-dots_menu_1 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-arrow-back_1 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-star {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Map {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Pinmap {
  -ms-transform: rotate(270.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Softkeys-bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Square_1 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-hour_1 {
  -ms-transform: rotate(0.0deg);
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 #s-signals_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-644dc4b1-814f-41c3-b4ba-c09bd1ad2e39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}