#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Button_7 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Button_13 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Button_14 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 292px;
  -ms-transform: rotate(0.0deg);
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}