#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Button_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9265f9d1-dbba-4713-96cc-821e55565cad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}