#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Rectangle_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Image_185 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Image_186 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Image_187 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Image_188 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Image_189 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -5px;
  margin-top: -5px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Image_190 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -5px;
  margin-top: -5px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Rectangle_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Rectangle_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Rectangle_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-send_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bb250d04-5e6c-42ec-9ba0-0187bdd2ed2a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}